

#form-book {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#form-book-id,
#form-book-available-copies {
    user-select: none;
    pointer-events: none;
    background: #ecececdc;
}

